
.datepicker{
    width: 96%;
}

.grootboek,
.resultaat{
	width: 95%;
	float: right;
}

.grootboek h1,
.resultaat h1{
	font-weight:bold;
	font-size:130%;
	text-align:center;
}
.grootboek td.omschrijving{
	width:70%;
}

.resultaat td.omschrijving{
	width:55%; 
}
.grootboek td.geld,
.resultaat td.geld{
	width:14%;
	text-align:right;
}


.import th.checkbox,
.import td.checkbox{
	width:1%;
}

.import th.datum,
.import td.datum{
	width:7%;
}

.import td.datum input,
.import td.omschrijving input,
.import td.omschrijving textarea{
	font-size: 89%;
	padding: 0.5%;
}

.import th.post,
.import td.post{
	width:9%;
}

.import th.geld,
.import td.geld{
	width:12%;
	text-align:right;
}

.grootboek th.omschrijving{
	width:70%;
}
.resultaat th.omschrijving{
	width:55%;
}
.balans,
.resultaat{
	width: 95%;
	float: right;
}

.balans a,
.resultaat a,
.resultaat td.omschrijving a,
.grootboek td.omschrijving a{
	font-weight:normal;
	text-decoration:none;
}

.balans a:hover,
.resultaat a:hover,
.resultaat td.omschrijving a:hover,
.grootboek td.omschrijving a:hover{
	color:#CCCCCC;
}
.head{
	width: 100%;
	
}
.head h1{
	font-weight:bold;
	font-size:130%;
	text-align:center;
}

.balans .debet {
	width:49%;
	height:100%;
	border-right-style:solid;
	border-right-color:#000000;
	border-right-width:thin;
	float:left;
	text-align:right;
}

.balans .credit {
	width:49%;
	height:100%;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:thin;	
	float:right;
}

.geld, .geld.debet, .geld.credit {
	text-align:right;
}

.kolomkopr {
	text-align:left;
	font-size:80%;
}


th.kolomkopl, .geld.debet{
	border-left-style: solid;
	border-left-color: black;
	border-left-width: thin;
}

.kolomkopl {
	text-align:right;
	font-size:80%;
}
.cleanform {
	float:right;
	width:100%;
	padding:10px 2%;
}

.balansoptions{
	width: 100%;
}