/* adaptor voor the default cake CSS en mijn eigen boekhouden CSS */

#content #main{
	width:85%;
	float:right;
}

#content #leftbar{
	width:13%;
	height:100%;
	float:left;
	border-right:thin;
	border-right-color:#999999;
	border-right-style:double;
}

#content #leftbar h1{
	font-weight:bold;
}

#content #leftbar ul{
	list-style:none;
	text-decoration:none;
}

#content #leftbar a{
	text-decoration:none;
	font-weight:normal;
}

#content #leftbar ul a:hover{
	font-weight:normal;
	text-decoration:none;
	color:#CCCCCC;
}
