/* Base layout */
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Table overides used by transaction data */
tr th.credit{
	text-align: right;
}

tr th.debet{
	text-align: left;
}

tr th.number,
tr td.number{
	text-align: left;
	max-width: 8%;
	width: 8%;
}

tr th.currency,
tr td.currency{
	text-align: right;
	max-width: 15%;
	width: 15%;
}
tr th.omschrijving,
tr td.omschrijving{
	overflow: hidden;
	white-space: nowrap;
}

tr th.datum,
tr td.datum{
	max-width: 15%;
	width: 15%;
}1
tr th.datum,
tr td.datum{
	max-width: 15%;
	width: 15%;
}

tr td.total{
	font-size: 110%;
	font-weight: bold;
}

/* general options */

.neg{
	color: red;
}

.pos{
	color: green;
}

tr th{
	font-size: 120%;
}