/* File is used for generating topmenu. */
/* line 3, ../sass/_headmenu.scss */
.menubar {
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

/* line 11, ../sass/_headmenu.scss */
.menugroup {
  background: white;
  padding: 0 10px;
}

/* line 16, ../sass/_headmenu.scss */
ul.menugroup {
  display: inline-block;
  background: white;
  list-style: none;
}

/* line 22, ../sass/_headmenu.scss */
ul.left {
  float: left;
}

/* line 26, ../sass/_headmenu.scss */
ul.right {
  float: right;
}

/* line 30, ../sass/_headmenu.scss */
.menugroup.right .menubar-item .menu {
  right: 0px;
}

/* line 34, ../sass/_headmenu.scss */
.menubar-item {
  display: inline-block;
  position: relative;
}

/* line 38, ../sass/_headmenu.scss */
.menubar-item-target {
  color: black;
  display: block;
  padding: 10px 14px;
  text-decoration: none;
}
/* line 44, ../sass/_headmenu.scss */
.menubar-item-target:hover, .is-selected .menubar-item-target {
  background: #29a7f5;
  color: white;
}

/* line 50, ../sass/_headmenu.scss */
.disabled {
  color: #b9b9b9;
  cursor: default;
}
/* line 54, ../sass/_headmenu.scss */
.disabled:hover, .is-selected .disabled {
  background: white;
  color: #b9b9b9;
}

/* line 60, ../sass/_headmenu.scss */
.menu {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  list-style: none;
  width: 15em;
  padding: 10px 0;
  z-index: 1000;
}
/* line 73, ../sass/_headmenu.scss */
.is-selected .menu {
  display: block;
}

/* line 76, ../sass/_headmenu.scss */
.menu-item-target {
  color: black;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}
/* line 82, ../sass/_headmenu.scss */
.menu-item-target:hover {
  background: #29a7f5;
  color: white;
}

/* line 88, ../sass/_headmenu.scss */
.menu-separator {
  border-top: 1px solid #ddd;
  margin: 8px;
}
